/*-------------для экрана шириной до 1140px---------*/
@media (max-width: 1140px){
    
    .card{
        width: calc(50%-15px);
    }
    
    .footer{
        padding-top: 40px;
        padding-bottom: 60px;
    }
    
    .footer-row{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    
    .footer-col{
        margin-bottom: 50px;
     }
    
    .footer-col:first-child{
        margin-bottom: 0;
    }
}

/*-------------для экрана шириной до 1110px---------*/
@media (max-width: 1110px){
    
    .main-cards-wrapper{
        justify-content: center;
    }
    
    .card:nth-last-child(2){
        margin-bottom: 30px;
    }
}

/*-------------для экрана шириной до 760px---------*/
@media (max-width: 860px){
    
    .header-title{
        font-size: 32px;
    }
    
    .header-subtitle{
        font-size: 14px;
    }
    
    .main{
        padding-top: 40px;
        padding-bottom: 60px;
    }
    
    .main-header{
        margin-bottom: 30px;
        font-size: 28px;
    }
    
    .main-cards-wrapper{
        justify-content: center;
    }
    
    .card{
        max-width: 530px;
        width: 100%;
    }
    
    .card-link{
        padding: 15px;
    }
    
    .card-img{
        margin-bottom: 10px;
    }
    
    .card-title{
        font-size: 18px;
        margin-bottom: 5px;
    }
    
    .card p{
        font-size: 14px;
    }
    
    .footer-copyright-name{
        font-size: 18px;
        margin-bottom:5px; 
    }
    
    .footer-copyright p{
        font-size: 14px;
    }
    
    .footer-icons p{
        font-size: 14px;
        margin: 0;
        margin-bottom: 15px;
    }
    
    .footer-contacts p{
        margin: 0;
        margin-top: 15px;
        font-size: 14px;
    }
    
    .footer-button{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .project{
        padding: 40px 0 60px;
    }
    
    .project-header{
        margin-bottom: 20px;
        font-size: 28px;
    }
    
    .project-img{
        margin-bottom: 20px;
    }
    
    .articles{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    }
    
    .project-btm-back{
        max-height: 320px;
        padding: 0 10px;
    }
    
}